@page
@model RazorWebPagesApplication.Pages.GithubModel
@{
    <h3>Projects I made and/or contribute to:</h3>
    {
        var data = (GithubConverter.GithubData[]) ViewData["data"];

        <table>
            @foreach (GithubConverter.GithubData item in data)
            {
                <tr>
                    <td>@item.Name</td>
                    
                </tr>
            }
        </table>
    }
}
